In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from datetime import datetime

In [9]:
train=pd.read_csv(r'C:\train.csv')
test=pd.read_csv(r'C:\.csv')
t=test

In [10]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [11]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

# Extending features of train data

In [12]:
def features1(data):
    drop_lst = ['casual', 'registered']
    data = data.drop(drop_lst,axis=1)
    data['datetime'] = pd.to_datetime(data['datetime'])
    data['dow'] =  data['datetime'].dt.dayofweek
    data['month'] =  data['datetime'].dt.month
    data['week'] = data['datetime'].dt.week
    data['hour'] = data['datetime'].dt.hour
    data['year'] =  data['datetime'].dt.year
    data['day'] =  data['datetime'].dt.day
    data = data.set_index(data['datetime'])
    data =  data.drop(labels='datetime', axis=1)
    data = pd.get_dummies( data, columns=['weather'])
    data =  data.drop(labels='weather_4', axis=1)
    data['temp_weath_1'] =  data['temp'] *  data['weather_1']
    data['temp_weath_2'] =  data['temp'] *  data['weather_2']
    data['temp_weath_3'] =  data['temp'] *  data['weather_3']
    data['temp_weath_1'] =  data['temp_weath_1'].astype(int)
    data['temp_weath_2'] =  data['temp_weath_2'].astype(int)
    data['temp_weath_3'] =  data['temp_weath_3'].astype(int)
    return(data)

In [13]:
train=features1(train)
train.head()

,season,holiday,workingday,temp,atemp,humidity,windspeed,count,dow,month,week,hour,year,day,weather_1,weather_2,weather_3,temp_weath_1,temp_weath_2,temp_weath_3
datetime,,,,,,,,,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,9.84,14.395,81,0.0,16,5,1,52,0,2011,1,1,0,0,9,0,0
2011-01-01 01:00:00,1,0,0,9.02,13.635,80,0.0,40,5,1,52,1,2011,1,1,0,0,9,0,0
2011-01-01 02:00:00,1,0,0,9.02,13.635,80,0.0,32,5,1,52,2,2011,1,1,0,0,9,0,0
2011-01-01 03:00:00,1,0,0,9.84,14.395,75,0.0,13,5,1,52,3,2011,1,1,0,0,9,0,0
2011-01-01 04:00:00,1,0,0,9.84,14.395,75,0.0,1,5,1,52,4,2011,1,1,0,0,9,0,0

# Extending features of test data

In [14]:
def features2(data):
    data['datetime'] = pd.to_datetime(data['datetime'])
    data['dow'] =  data['datetime'].dt.dayofweek
    data['month'] =  data['datetime'].dt.month
    data['week'] = data['datetime'].dt.week
    data['hour'] = data['datetime'].dt.hour
    data['year'] =  data['datetime'].dt.year
    data['day'] =  data['datetime'].dt.day
    data = data.set_index(data['datetime'])
    data =  data.drop(labels='datetime', axis=1)
    data = pd.get_dummies( data, columns=['weather'])
    data =  data.drop(labels='weather_4', axis=1)
    data['temp_weath_1'] =  data['temp'] *  data['weather_1']
    data['temp_weath_2'] =  data['temp'] *  data['weather_2']
    data['temp_weath_3'] =  data['temp'] *  data['weather_3']
    data['temp_weath_1'] =  data['temp_weath_1'].astype(int)
    data['temp_weath_2'] =  data['temp_weath_2'].astype(int)
    data['temp_weath_3'] =  data['temp_weath_3'].astype(int)
    return(data)

In [15]:
test=features2(test)
test.head()

,season,holiday,workingday,temp,atemp,humidity,windspeed,dow,month,week,hour,year,day,weather_1,weather_2,weather_3,temp_weath_1,temp_weath_2,temp_weath_3
datetime,,,,,,,,,,,,,,,,,,,
2011-01-20 00:00:00,1,0,1,10.66,11.365,56,26.0027,3,1,3,0,2011,20,1,0,0,10,0,0
2011-01-20 01:00:00,1,0,1,10.66,13.635,56,0.0000,3,1,3,1,2011,20,1,0,0,10,0,0
2011-01-20 02:00:00,1,0,1,10.66,13.635,56,0.0000,3,1,3,2,2011,20,1,0,0,10,0,0
2011-01-20 03:00:00,1,0,1,10.66,12.880,56,11.0014,3,1,3,3,2011,20,1,0,0,10,0,0
2011-01-20 04:00:00,1,0,1,10.66,12.880,56,11.0014,3,1,3,4,2011,20,1,0,0,10,0,0

In [16]:
X = train.iloc[:, train.columns != 'count']
y = train['count']

# Random forest

In [17]:
from sklearn.ensemble import RandomForestRegressor
def r_f():
    rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
    rf.fit(X,y)
    predictions = rf.predict(test)
    test['count']=predictions
    accuracy = rf.score(test.iloc[:, test.columns != 'count'],test['count'])
    return(accuracy, predictions)

In [18]:
pred = r_f()
pred

(1.0, array([ 13.929,   5.57 ,   5.567, ..., 120.094,  98.423,  56.09 ]))

# CSV

In [19]:
def CSV():
    df=pd.DataFrame(pred[1], t['datetime'])
    df.columns=['count']
    df.to_csv(r'C:\solution.csv')
    return df

# Predicted test column

In [20]:
CSV()

                       count
datetime
2011-01-20 00:00:00   13.929
2011-01-20 01:00:00    5.570
2011-01-20 02:00:00    5.567
2011-01-20 03:00:00    3.603
2011-01-20 04:00:00    2.919
2011-01-20 05:00:00    5.617
2011-01-20 06:00:00   35.064
2011-01-20 07:00:00   80.854
2011-01-20 08:00:00  202.542
2011-01-20 09:00:00  118.844
2011-01-20 10:00:00   58.966
2011-01-20 11:00:00   60.911
2011-01-20 12:00:00   82.305
2011-01-20 13:00:00   69.887
2011-01-20 14:00:00   75.302
2011-01-20 15:00:00   79.384
2011-01-20 16:00:00   93.549
2011-01-20 17:00:00  190.006
2011-01-20 18:00:00  162.835
2011-01-20 19:00:00  102.853
2011-01-20 20:00:00   68.867
2011-01-20 21:00:00   48.105
2011-01-20 22:00:00   40.348
2011-01-20 23:00:00   23.357
2011-01-21 00:00:00   14.404
2011-01-21 01:00:00    7.596
2011-01-21 02:00:00    5.634
2011-01-21 03:00:00    2.513
2011-01-21 04:00:00    2.197
2011-01-21 05:00:00    4.665
...                      ...
2012-12-30 18:00:00  230.188
2012-12-30 19:00:00  199.547
2012-12-30 20:00:00  134.941
2012-12-30 21:00:00   99.919
2012-12-30 22:00:00   84.530
2012-12-30 23:00:00   58.667
2012-12-31 00:00:00   19.208
2012-12-31 01:00:00   10.559
2012-12-31 02:00:00    4.534
2012-12-31 03:00:00    3.025
2012-12-31 04:00:00    2.795
2012-12-31 05:00:00   19.420
2012-12-31 06:00:00   87.471
2012-12-31 07:00:00  267.918
2012-12-31 08:00:00  466.345
2012-12-31 09:00:00  233.741
2012-12-31 10:00:00  128.981
2012-12-31 11:00:00  126.789
2012-12-31 12:00:00  136.216
2012-12-31 13:00:00  150.409
2012-12-31 14:00:00  153.940
2012-12-31 15:00:00  156.108
2012-12-31 16:00:00  203.865
2012-12-31 17:00:00  345.173
2012-12-31 18:00:00  334.216
2012-12-31 19:00:00  250.514
2012-12-31 20:00:00  184.335
2012-12-31 21:00:00  120.094
2012-12-31 22:00:00   98.423
2012-12-31 23:00:00   56.090

[6493 rows x 1 columns]